<div class="layout horizontal">
  <div>
    <div class="horizontal-section">
      {{flood-select label="Country" items=countries itemLabelPath="name"}}
    </div>
  </div>

  <div>
    <div class="horizontal-section">
      {{#flood-menu}}
        {{flood-item label="Item 1"}}
        {{flood-item label="Item 2" disabled=true}}
        {{flood-item label="Item 3" disabled=true}}
        {{flood-item label="Item 4"}}
        {{flood-item label="Item 5"}}
      {{/flood-menu}}
    </div>
  </div>

  <div>
    <div class="horizontal-section">
      {{#flood-menu}}
        {{flood-item label="Item 1"}}
        {{flood-item label="Item 2"}}
        {{flood-item label="Item 3" disabled=true}}
      {{/flood-menu}}
    </div>
  </div>

</div>